[run]
branch = True
omit =
    */tests/*
    sdcflows/conftest.py
    sdcflows/_version.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    raise NotImplementedError
    warnings\.warn
