# python cache
__pycache__/**/*
__pycache__
*.pyc

# python distribution
build/**/*
build
dist/**/*
dist
docs/**/*
docs
sdcflows.egg-info/**/*
sdcflows.egg-info
.eggs/**/*
.eggs

# housekeeping tools
get_version.py
update_changes.sh
tox.ini

# pip installs
src/**/*
src/

# git
.gitattributes
.gitignore
.github/**/*
.github
.git/**/*
.git

# other
work/**/*
work
out/**/*
out/

# CI, etc.
.circleci/**/*
.circleci
.codecov.yml
.coveragerc
.pep8speaks.yml
.readthedocs.yml
.travis.yml
.zenodo.json
CONTRIBUTING.md