# python cache
__pycache__/**/*
__pycache__
*.pyc

# python distribution
build/**/*
build
dist/**/*
dist
sdcflows.egg-info/**/*
sdcflows.egg-info
.eggs/**/*
.eggs

# pip installs
src/**/*
src/

# other
work/**/*
work
out/**/*
out/
.DS_Store
