Adriana Rivera-Dompenciel <ariveradompenciel@uiowa.edu>
Adriana Rivera-Dompenciel <ariveradompenciel@uiowa.edu> <34017586+ariveradompenciel@users.noreply.github.com>
Alejandro de la Vega <aleph4@gmail.com>
Alejandro de la Vega <aleph4@gmail.com> delavega4
Anibal Sólon Heinsfeld <anibalsolon@gmail.com>
Asier Erramuzpe <asier.erramuzpe@gmail.com>
Basile Pinsard <basile.pinsard@umontreal.ca>
Basile Pinsard <basile.pinsard@umontreal.ca> basile <basile.pinsard@gmail.com>
Basile Pinsard <basile.pinsard@umontreal.ca> <bpinsard@imed.jussieu.fr>
Blaise Frederick <blaise.frederick@gmail.com>
Blaise Frederick <blaise.frederick@gmail.com> bbfrederick <blaise.frederick@gmail.com>
Christopher J. Markiewicz <effigies@gmail.com>
Christopher J. Markiewicz <effigies@gmail.com> <effigies@bu.edu>
Christopher J. Markiewicz <effigies@gmail.com> <markiewicz@stanford.edu>
Daniel J. Lurie <danjlurie@gmail.com>
Eilidh MacNicol <eilidhmacnicol@gmail.com>
Elizabeth DuPre <emd222@cornell.edu>
Franklin Feingold <ffein@stanford.edu>
Franklin Feingold <ffein@stanford.edu> <35307458+franklin-feingold@users.noreply.github.com>
Franz Liem <franz.liem@gmail.com>
Gabriel A. Devenyi <gdevenyi@gmail.com>
Ilkay Isik <ilkayisik@gmail.com>
James D. Kent <james-kent@uiowa.edu>
James D. Kent <james-kent@uiowa.edu> <jamesdkent21@gmail.com>
James D. Kent <james-kent@uiowa.edu> Fred Mertz <mertzf@bargle.argle>
Jarod Roland <jarod.roland@gmail.com>
Joseph B. Wexler <jbwexler@hushmail.com>
Joseph B. Wexler <jbwexler@hushmail.com> Joe B. Wexler
Joseph B. Wexler <jbwexler@hushmail.com> jbwexler
Karolina Finc <karolinafinc@gmail.com>
Karolina Finc <karolinafinc@gmail.com> kfinc
Kevin Sitek <sitek.kevin@gmail.com>
Kevin Sitek <sitek.kevin@gmail.com> sitek <sitek.kevin@gmail.com>
Krzysztof J. Gorgolewski <krzysztof.gorgolewski@gmail.com>
Krzysztof J. Gorgolewski <krzysztof.gorgolewski@gmail.com> <chris.gorgolewski@gmail.com>
Krzysztof J. Gorgolewski <krzysztof.gorgolewski@gmail.com> <filo@filo-dtc-laptop>
Krzysztof J. Gorgolewski <krzysztof.gorgolewski@gmail.com> <filo@filo-Precision-M6500.(none)>
Krzysztof J. Gorgolewski <krzysztof.gorgolewski@gmail.com> <filo@filo-Precision-M6500>
Krzysztof J. Gorgolewski <krzysztof.gorgolewski@gmail.com> <filo@filolaptop>
Krzysztof J. Gorgolewski <krzysztof.gorgolewski@gmail.com> <krzysztof.gorgolewski+fake@gmail.com>
Lea Waller <lea.waller@charite.de> <lea@lea.science>
Marc Bue <44844855+marcbue@users.noreply.github.com>
Markus H. Sneve <m.h.sneve@psykologi.uio.no> <44242647+markushs@users.noreply.github.com>
Mathias Goncalves <goncalves.mathias@gmail.com>
Mathias Goncalves <goncalves.mathias@gmail.com> <mathiasg@mit.edu>
Mathias Goncalves <goncalves.mathias@gmail.com> <mathiasg@stanford.edu>
Mathieu Dugré <16450132+mathdugre@users.noreply.github.com>
Matteo Visconti di Oleggio Castello <matteo.visconti.gr@dartmouth.edu>
Marc Bue <44844855+marcbue@users.noreply.github.com>
Marc Bue <44844855+marcbue@users.noreply.github.com> marcbue <44844855+marcbue@users.noreply.github.com>
Mikael Naveau <naveau.mikael@gmail.com>
Milton Camacho <70858549+miltoncamacho@users.noreply.github.com>
Nir Jacoby <nj2319@columbia.edu>
Nir Jacoby <nj2319@columbia.edu> <nirjacoby@dyn-128-59-231-222.dyn.columbia.edu>
Noah C. Benson <nben@nyu.edu>
Noah C. Benson <nben@nyu.edu> noahbenson
Oscar Esteban <code@oscaresteban.es>
Oscar Esteban <code@oscaresteban.es> <oesteban@stanford.edu>
Pablo Velasco <pablo.velasco@nyu.edu>
Rastko Ciric <rc042010@mymail.pomona.edu>
Rastko Ciric <rc042010@mymail.pomona.edu> <rastko@stanford.edu>
Rastko Ciric <rc042010@mymail.pomona.edu> <rciric@users.noreply.github.com>
Romain Valabregue <romain.valabregue@upmc.fr>
Ross Blair <rblair2@stanford.edu>
Ross Blair <rblair2@stanford.edu> <rosswilsonblair@gmail.com>
Saren Seeley <31291534+sarenseeley@users.noreply.github.com>
Sebastian Urchs <sebastian.urchs@gmail.com>
Sebastien Naze <naze@us.ibm.com>
Shoshana Berleant <berleant@stanford.edu>  <shoshber@users.noreply.github.com>
Soichi Hayashi <hayashis@iu.edu>
William Hedley Thompson <william.thompson@ki.se>
William Hedley Thompson <william.thompson@ki.se> <wiheto@users.noreply.github.com>
Yasser Aleman <yasseraleman@gmail.com>
