nilearn!=0.5.0,!=0.5.1
git+https://github.com/poldracklab/niworkflows.git@unstable#egg=niworkflows
git+https://github.com/poldracklab/smriprep.git@master#egg=smriprep-0.1.0
templateflow<0.2.0a0,>=0.1.3
