attrs >= 20.1.0
furo ~= 2021.10.09
matplotlib >= 2.2.0
nibabel
nipype >= 1.5.1
traits < 6.4
niworkflows ~= 1.6.0
numpy
packaging
pydot >= 1.2.3
pydotplus
sphinx ~= 4.2
sphinxcontrib-apidoc
sphinxcontrib-napoleon
templateflow
