furo ~= 2021.10.09
nibabel >=3.0.1
nipype >=1.3.1,<2.0
niflow-nipype1-workflows ~= 0.0.1
traits < 6.4
niworkflows >= 1.2.0,<1.4
numpy
pydot >= 1.2.3
pydotplus
sphinx ~= 4.2
sphinxcontrib-apidoc
sphinxcontrib-napoleon
templateflow
