name: Validations

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ master, main, 'maint/*' ]

env:
  FORCE_COLOR: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: pipx run ruff check sdcflows/
    - run: pipx run ruff format --diff sdcflows/

  # codespell:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v4
  #   - uses: codespell-project/actions-codespell@v2
